div {
  border: 5px black solid;
  padding: 2px;
}
.menu {
  display: flex;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: #1B5BAA;
  margin: 0;
  padding: 0;
  border: 0px;
}

.menuItem {
  display: flex;
    flex: 1;
  justify-content: center;
  border: 0px;
  color: white;
  align-items: center;
}

.x5 {
  flex: 5;
  border: 0px;
}

#selected {
  background-color: #003F9C;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  position: relative;
  top: 70px;
}

.body {
  margin-left: 10%;
  margin-right: 10%;
}

.spacer {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.people {
  display: flex;
}

.bio {
  flex: 1;
}

.pic {
  flex: 1;
}

#showInfo {
 flex: 4;
}

#show {
  display: flex;
}

#showPic {
  flex: 1;
}
